# Database files
*.db
*.sql*

### Python

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Packaging
*.egg
*.egg-info
dist
sdist

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Testing and Linting
.coverage/
.mypy_cache/
.pytest_cache/
.ropeproject/
.tox/
